<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Device <%= @device.identifier %><small> <%= link_to 'Edit', edit_device_path(@device) %> </small></h3>
	</div>
	<div class="panel-body">
		Identifier: <b><%= @device.identifier %></b>
	</div>
</div>