<% ['accelerometers', 'batteries', 'gravities', 'gyroscopes', 'lights', 'linear_accelerations', 'locations', 'magnetic_fields', 'pressures', 'proximities', 'rotation_vectors'].each do |sensor|%>
<% if (eval('recording.' + sensor).count > 0)%>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title"><%= sensor %></h4>
	</div>
	<div class="panel-body">
		<%= eval("render :partial =>'" + sensor + "/chart' , :locals => {:" + sensor + " => recording." + sensor + "}") %>
	</div>
</div>
<% end %>
<% end %>