<span class="glyphicon glyphicon-time"></span> <b><%= recording.created_at.strftime("%Y-%m-%d %H:%M") %></b>
<br />
<span class="glyphicon glyphicon-user"></span> <b><%= recording.user.email unless recording.user.nil? %></b>
<br />
<span class="glyphicon glyphicon-comment"></span> <b><%= recording.title %></b>
<br />
<span class="glyphicon glyphicon-phone"></span> <%= link_to(recording.device.identifier, device_path(recording.device)) unless recording.device.nil? %>