<table class="table table-striped">
	<tr>
		<th>Sensor</th>
		<th>Available</th>
		<th>Samples</th>
		<th><p class="text-right">Hz</p></th>
		<th><p class="text-right">CSV</p></th>
	</tr>
	<% ['accelerometers', 'annotations', 'batteries', 'gravities', 'gyroscopes', 'lights', 'linear_accelerations', 'locations', 'magnetic_fields', 'pressures', 'proximities', 'rotation_vectors'].each do |sensor|%>
	<tr>
		<td><%= sensor %></td>
		<td><div class="pull-left"><% if eval('recording.' + sensor).count > 0 then %><span class="glyphicon glyphicon-ok"></span><% end %></div></td>
		<td><%= eval('recording.' + sensor).count %></td>
		<td><p class="text-right"><%= eval('recording.' + sensor).get_hz.to_s %> Hz</p></td>
		<td><div class="pull-right"><%= render :partial => "shared/link_button", :locals => { link: '/recording/' + recording.id.to_s + '/' + sensor + '.csv', caption:'download', icon:'download'} %></div></td>
	</tr>
	<% end %>
</table>